.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #4158d0;
  background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );
  height: 100vh;
  font-family: monospace;
}

h2 {
  font-family: monospace;
}

.heading {
  margin: 30px;
  font-size: xx-large;
}

.input-container {
  width: 70%;
  margin: 30px;
}

.input {
  margin: 10px;
  height: 60px;
  width: 70%;
  border-radius: 20px;
  border: 4px solid purple;
  background-color: lightgray;
  text-align: center;
}

.add-button {
  border-radius: 10px;
  height: 70px;
  width: 15%;
  cursor: pointer;
  border: 4px solid purple;
  background-color: lightblue;
}

.todo-containerfalse {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid purple;
  width: 200px;
  padding: 5px;
  width: 300px;
  margin: 20px;
  cursor: pointer;
  border-radius: 15px;
  background-color: lightgreen;
}

.todo-containertrue {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  width: 200px;
  padding: 5px;
  width: 300px;
  margin: 20px;
  cursor: pointer;
  border-radius: 15px;
  background-color: rgb(253, 81, 81);
}

.todo-name {
  margin: 10px;
  padding: 5px;
  font-size: x-large;
  border: 1px solid pink;
  border-radius: 10px;
  background-color: purple;
  color: white;
}

.todo-remove {
  height: 30px;
  background-color: pink;
  border: 1px solid red;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 30px;
}
